<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ConsumerServlet</servlet-name>
    <servlet-class>com.wy.webiter.ConsumerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FriendServlet</servlet-name>
    <servlet-class>com.wy.webiter.FriendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VoteServlet</servlet-name>
    <servlet-class>com.wy.webiter.VoteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DiscussServlet</servlet-name>
    <servlet-class>com.wy.webiter.DiscussServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhotoSerlvet</servlet-name>
    <servlet-class>com.wy.webiter.PhotoSerlvet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>com.wy.webiter.ArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RestoreServlet</servlet-name>
    <servlet-class>com.wy.webiter.RestoreServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>ConsumerServlet</servlet-name>
    <url-pattern>/ConsumerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/FriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VoteServlet</servlet-name>
    <url-pattern>/VoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DiscussServlet</servlet-name>
    <url-pattern>/DiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoSerlvet</servlet-name>
    <url-pattern>/PhotoSerlvet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestoreServlet</servlet-name>
    <url-pattern>/RestoreServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
